<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <div>
        <form th:action="@{/auth/registro}" method="post">
            <label >Nombre</label>
            <input name="name"/>
            <label >Apellido</label>
            <input name="lastname"/>
            <label >Correo</label>
            <input name="email"/>
            <label >Nombre de usuario</label>
            <input name="username"/>
            <label >Contraseña</label>
            <input name="password"/>
            <label >Edad</label>
            <input name="age"/>
            <button type="submit">Registrarme</button>
        </form>
    </div>
</body>
</html>